<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Syntax highlighting CSS -->
  <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->

</head>
<body>

<div id="topnav">
  <table>
    <tbody>
      <tr>
        <td id="chromist-logo">
          <a href="/" title="Chromist"><img src="/media/chromist-32.png" alt>chromist</a>
          <sup id="chromist-slogan">
            people who play the chrome
          </sup>
        </td>
        <td>
          <ul>
            <li><a href="/apps/samples.html" title="Sample Apps (with source code)">Samples</a></li>
            <li><a href="http://github.com/chromist">Github</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="container">
  {{ content }}
</div>
<div class="footer">
  <div class="desc">
    <p>The content of this page is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons
          Attribution 3.0 License</a>, and code samples are licensed under the <a rel="license" href="http://opensource.org/licenses/MIT">MIT License</a>. </p>
    <p>©2013 <a href="http://github.com/chromist">Chromist</a></p>
  </div>
</div>

<!-- build:js({app,.tmp}) /js/scripts.js -->
<script src="/js/main.js"></script>
<!-- endbuild -->

</body>
</html>
