  <nav>
    <header><a href="index.html"><img src="assets/img/chromist.png"></a></header>
    <ul>
      <li class="nav-divider"><a href="index.html"><img src="assets/img/icon-home.png">Home</a></li>
      <li><a href=".html"><img src="assets/img/icon-why-yeoman.png">Chromist</a></li>
      <li><a href=".html"><img src="assets/img/icon-getting-started.png">Production</a></li>
      <li class="nav-sub"><a href="">Examples</a></li>
      <li class="nav-sub"><a href="">Extenstions</a></li>
      <li class="nav-sub"><a href="">Pacakged Apps</a></li>
      <li class="nav-divider"></li>
      <li class="nav-divider"><a href=""><img src="assets/img/icon-discuss.png">IRC</a></li>
      <li><a href="https://plus.google.com/105320083157611753063/posts"><img src="assets/img/icon-google-plus.png">Google Plus</a></li>
      <li class="nav-divider"><a href=""><img src="assets/img/icon-twitter.png">Twitter</a></li>
      <li><a href="http://github.com/chromist"><img src="assets/img/icon-github.png">GitHub</a></li>
    </ul>
  </nav>
