---
layout: default
title: Chromist — People who play the chrome
---

<div id="feeds">
  {% for post in site.posts %}
  <div class="feeds">
    <h2>{{ post.title }}</h2><sup>{{ post.date | date_to_string }}</sup>
    <div>
      <p>
      {% if excerpt and post.excerpt %}
        {{ post.excerpt }}
          <p> <a href="{{ post.url }}/#more" class="more-link"><span class="readmore">Read the rest of this entry »</span></a></p>
      {% else %}
        {{ post.content | mark_excerpt }}
      {% endif %}
      </p>
  </div>
  {% endfor %}
</div>
