
body {
  background-color: #FFF;
  font: 14px/22px 'Open Sans',arial,sans-serif;
  padding:0;
  margin: auto;
}

a, a:link {
  color: #4787ed;
  font-weight: 600;
  text-decoration: none;
}

a:active,
a:hover,
a:visited {
  color: #236bb2;
}

li {
  margin: .3em 0 0 1.5em;
  padding: 0;
}

ol li {
  margin-top: 1em;
}

img {
  border: none;
  padding: 10px 0;
}

h1 {
  font-size: 320%;
font-weight: normal;
line-height: 130%;
}
#topnav {
  background-color: white;
  border-bottom: 1px solid #F5F5F5;
  font-size: 1em;
  line-height: 50px;
  margin: auto;
  max-width: 1160px;
  padding: 0 7px;
  white-space: nowrap;
};

#topnav table {
  border-spacing:0;
}

#topnav * {
  padding:0;
}

#topnav #chromist-logo {
  width:100%;
  font-size:1.7em;
}

#topnav #chromist-logo img {
  vertical-align: middle;
  padding-right:4px;
}

#topnav a {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

#topnav a:hover {
  color: #4787ed;
}

#topnav a:focus {
  outline: 1px dotted;
}


#topnav #chromist-logo a {
  color: #77787a;
  font-weight: 400;
}

#topnav ul {
  font-size: 12px;
  margin: 0;
}

#topnav li {
  display: inline-block;
  font-weight: 600;
  margin: 0 0 0 25px;
  text-transform: uppercase;
  white-space: nowrap;
}

#topnav #chromist-slogan {
  display: inline;
  position: relative;
  font-weight:100;
  font-size:0.5em;
  opacity:0.5;
  height:100%;
}

#container {
  height: auto;
  margin-top: 2em;
  margin: auto;
  max-width: 1160px;
  padding: 0 50px;
}

.feeds h2 {
  font-size: 320%;
  font-weight: normal;
  line-height: 100%;
  margin-bottom:2px;
}

.footer .desc {
  color: #666;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

.feedurl {
  font-size:10%;
}
